.Login, .Signup {
    margin-top: 10%;
    width: 100%;
    color: white;
    text-align: center;
}

label {
    width: 10%;
    display: inline-block;
}

nav {
    text-align: center;
}

.SignMeUp {
    margin-right: 30%;
    margin-left: 30%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

button {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
}
#SignupBtn {
    padding-right: 5%;
    padding-left: 5%;
}

button:hover {
    color: black;
    background-color: white;
}