.LoginSignup {
    position: absolute;
    top: 10vh;
    width: 100%;
    /* text-align: center; */
}

.Login, .Signup {
    width: 100%;
    color: white;
    text-align: center;
}

.SignMeUp {
    margin: auto 30% auto 30%;
    color: white;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.formItem {
    margin: 1% auto;
    width: 50%;   
}

.formItem > input, .formItem > input:focus{
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid magenta;
    caret-color: white;
    color: white;
}

.formItem > label {
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    width: 35%;
}

.submitButton {
    margin: 2% auto;
    padding: 1% 2% 1% 2%;
    /* height: 50%; */
    background: black;
    color: white;
    border-radius: 10px;
    border: solid 1px white;
    text-decoration: none;
}