.MyPatches {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.patches {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.newPatchButton {
    width: 20vh;
    height: 20vh;
    margin: 5vh;
    background: none;
    border: solid 1px aqua;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newPatchButton > img{
    max-height: 30%;
    margin: 0;
}