.MyPatches {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.patches {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.newPatchButton {
    width: 20%;
    height: 20%;
    background: grey;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newPatchButton > span{
    font-size: 8em;
    margin: 0;
}