.P5Canvas{
    width: 60vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: magenta;
    border-radius: 10px;

}

.CanvasContainer{
    width: 75%;
    height: 75%;
    background: red;
    margin: auto;
}