.RingoObject {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 25vw;
    height: 5vh;
    cursor: initial;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: magenta;
    z-index: 1;
}

.RingoObject > form
{
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 3vh;
    cursor: initial;
    background-color: black;
}

.RingoObject > form > input
{
    cursor: initial;
    border-style: none;
    padding: 0px;
    margin: 0px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
    font-size: 2vh;
    background-color: black;

}

