._Sidebar {
    z-index: 1000; 
    background: none;  
    display: flex;
    flex-direction: column;
    width: 25vh;
    height: 100vh;
    background: #347c76;
    position: absolute;
    top: 0;
    right: 0;

}

.sidebarButton {
    background-color: black;
    color: white;
    z-index: 100;
    margin: auto;

}

._Sidebar > .items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

._Sidebar > .items.visible {
    width: 0;
    position: absolute;
    right: 0;
    background: white;
    z-index: 1000; 

}

._closeSidebar {
    text-align: right;
    margin: 10px 10px 0px auto;
    cursor: pointer;
}