.Toolbar {
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: flex;
    top: 10vh;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    outline: none;
    max-width:100%;  /* added */
    background-color: black;
}
.patchNameContainer {
    margin: auto 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 2vh;
}

.patchNameLabel {
    color: white;
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
}

.patchName > input, .patchName > input:focus {
    font-size: 2vh;
    background: black;
    border: none;
    color: white;
    border-color: black;
    border-bottom: solid 1px magenta;
    outline: none;
}

.Controls {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ToolbarButton {
    background: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 10px;
    border: solid 1px white;
    padding: 1px 7px 2px;
    height: 50%;
    margin: auto 10px auto;

}

.ToolbarButton.NewObject {
    border: magenta 1px solid;
}

.ToolbarButton.NewMessage {
    border: aqua 1px solid;
}