.WorkSpace {
    position: absolute;
    top: 10vh;
    width: 1000vw;
    height: 1000vh;
    background-image: url('../../assets/grid.svg');
    background-size: 100px;
    background-repeat: repeat;
}

