.PatchCable {
    width: 1000vw;
    height: 1000vh;
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 2px;
    stroke: "aqua";
}

.PatchCable.PatchCableLine {
    stroke: aqua;
    display: inline;
}