
.QuaxObject > form
{
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 70%;
    cursor: initial;
    background: red;

}

.QuaxObject > form > input
{
    cursor: initial;
    border-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #4A4F4D ;
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
    font-size: 2vh;

}

.QuaxObject {
    display: flex;
    position: absolute;
    flex-direction: column;
    grid-template-rows: 1fr, 1fr, 1fr;
    width: 15%;
    height: 3%;
    cursor: initial;
    margin: 0px;
    padding: 0px;
}

.Inlets, .Outlets
{
    display: flex;
    background-color: #7E7F84;
    width: 100%;
    height: 18%;
    flex-direction: row;
    justify-content: left;
}

/* Button */
.QuaxButton{
    display: flex;
    position: absolute;
    flex-direction: column;
    grid-template-rows: 1fr, 1fr, 1fr;
    width: 10%;
    height: 10%;
    cursor: initial;
    margin: 0px;
    padding: 0px;
}